/* General styling for the header */
.header h1 {
  font-size: 4.5em;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content:center;

  position: relative;
  right: 900px;
  bottom: 170px;
}

.header h1 .dummyWord {
  visibility: hidden; /* Reserve space without displaying */
  position: absolute;
}

.header h1 span {
  color: #ff6600;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #ff6600;
  animation: blink 0.7s steps(1) infinite;
  text-align: left;
}

/* Blink effect for cursor */
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
